* {
    /*outline: 2px solid red;*/
    text-align: center;
}

.padding{
    padding: 50px;
}
.footerBack {
    background-color: #1F2937;
    padding-bottom: 20px;
}
.flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    flex: auto;
}
.dogImage{
    width: 200;
    height: 200;
}
.heroText {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.logoText{
    font-size: 24px;
    color: #F9FAF8;
}
.buttonBackgroundColor{
    background-color: #3882F6;
}
.informationHeader{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.quoteBack{
    background-color: #E5E7EB;
}
.quoteText{
    font-size: 36px;
    color: #1F2937;
    font-family: light italic;
}
.blueBox{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}